* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
}



#creations {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#creations h1 {
    font-size:  2.0rem;
    font-family: sans-serif;
    font-weight: 300;
    margin: 2rem 0 1rem;
}
#creations button {
    width: 50vw;
    max-width: 200px;
    height: 3rem;
    margin: 0.5rem 0 5rem;
    background-color: white;
    border: solid 3px rgba(0, 0, 0, 0.349);
    border-radius: 0;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}
#creations .items > div {
    width: 90vw;
    background-size: cover;
    margin: 1.8rem 0;
    font-family: sans-serif;
}
#creations .items div.cover {
    border: solid 1px wheat;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
    padding: 2.5rem 10rem 2rem 1.5rem;
}
#creations .items > div:nth-child(1){
    background-image: url(images/mobile/image-deep-earth.jpg);
}
#creations .items > div:nth-child(2){
    background-image: url(images/mobile/image-night-arcade.jpg);
}
#creations .items > div:nth-child(3){
    background-image: url(images/mobile/image-soccer-team.jpg);
}
#creations .items > div:nth-child(4){
    background-image: url(images/mobile/image-grid.jpg);
}
#creations .items > div:nth-child(5){
    background-image: url(images/mobile/image-from-above.jpg);
}
#creations .items > div:nth-child(6){
    background-image: url(images/mobile/image-pocket-borealis.jpg);
}
#creations .items > div:nth-child(7){
    background-image: url(images/mobile/image-curiosity.jpg);
}
#creations .items > div:nth-child(8){
    background-image: url(images/mobile/image-fisheye.jpg);
}










































footer {
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}
#footer-left > img {
    margin-bottom: 2rem;
}
#footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;

}
footer ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin: 0 0 2rem;
}
footer a {
    color: white;
    text-decoration: none;
    font-family: 'Alata', sans-serif;
}
#footer-icons {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 2rem;
}
#footer-icons .icons {
    height: 30px;
}
footer p {
    color: rgb(138, 133, 133);
}



























@media (min-width: 1000px){
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 4rem 10vw;
    }
    footer ul {
        flex-direction: row;
        justify-content: space-between;
        height: min-content;
        width: 380px;
        margin: 0;
    }
    #footer-icons {
        display: flex;
        justify-content: space-between;
        width: 180px;
        margin: 0 0 2rem 0;
    }
    #footer-icons {
        width: 250px;
    }
    #footer-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    footer p {
        margin-top: 10px;
    }
}