* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
}

/******** NAVBAR SECTION *******/
.navbar {
    padding: 0 0 4.5rem;
}
  
.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}
  
.nav-item {
    padding: 0 18px;
}
  
.nav-link {
    font-size: 1.2rem;
}
  
/******** TITLE SECTION *******/
.title{
    background-image: url(images/mobile/image-hero.jpg);
    height: max-content;
    width: 100vw;
    padding: 50px 50px 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-heading{
    color: white;
    width: 450px;
    font-size: 4rem;
    font-weight: lighter;
    border: 3px solid;
    margin-top: 150px;
    padding: 20px 50px 20px 30px;
}


/******** LEADERS SECTION *******/
.leader{
    text-align: center;
    padding: 100px 15px;
    max-width: 85%;
    margin: auto;
}

.top-img{
    max-width: 100%;
    margin-bottom: 50px;
}

.lead-heading{
    font-weight: lighter;
    font-size: 3rem;
}
.lead-paragraph{
    width: 60%;
    color: hsl(0, 0%, 41%);
    margin: auto;
    line-height: 2;
    font-weight: 500;
    padding: 20px 0;
}


/******** CREATION SECTION *******/

#creations {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#creations-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}
#creations-head button {
    display: none;
}
#creations h1 {
    font-size:  2.8rem;
    font-family: sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}
#creations button {
    width: 50vw;
    max-width: 200px;
    height: 3rem;
    background-color: white;
    border: solid 3px rgba(0, 0, 0, 0.349);
    border-radius: 0;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}
#creations .items > div {
    width: 80vw;
    background-size: cover;
    margin: 3rem 0;
    font-family: sans-serif;
}
#creations .items div.cover {
    border: solid 1px wheat;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
    padding: 3rem 10rem 2rem 1.5rem;
}
#creations .items > div:nth-child(1){
    background-image: url(images/mobile/image-deep-earth.jpg);
}
#creations .items > div:nth-child(2){
    background-image: url(images/mobile/image-night-arcade.jpg);
}
#creations .items > div:nth-child(3){
    background-image: url(images/mobile/image-soccer-team.jpg);
}
#creations .items > div:nth-child(4){
    background-image: url(images/mobile/image-grid.jpg);
}
#creations .items > div:nth-child(5){
    background-image: url(images/mobile/image-from-above.jpg);
}
#creations .items > div:nth-child(6){
    background-image: url(images/mobile/image-pocket-borealis.jpg);
}
#creations .items > div:nth-child(7){
    background-image: url(images/mobile/image-curiosity.jpg);
}
#creations .items > div:nth-child(8){
    background-image: url(images/mobile/image-fisheye.jpg);
}

/******** FOOTER SECTION *******/

footer {
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    margin: 4rem 0 0;
}
#footer-left > img {
    margin-bottom: 2rem;
}
#footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;

}
footer ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
footer a {
    color: white;
    text-decoration: none;
    font-family: 'Alata', sans-serif;
}
#footer-icons {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 2rem;
}
#footer-icons .icons {
    height: 24px;
}
footer p {
    color: rgb(138, 133, 133);
}






@media (min-width: 1000px){
    
    .title{
    background-image: url(images/desktop/image-hero.jpg);
    height: max-content;
    }
    
    #creations .items {
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2vw;        
    }
    #creations .items > div {
        max-width: 18vw;
        height: 35vw;
        margin: 0;
        background-size: cover;
        margin: 3rem 0;
        font-family: sans-serif;
    }
    #creations .items div.cover {
        border: solid 1px wheat;
        font-size: calc(1rem + 1vw);
        color: white;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.322);
        padding: 27vw 0 2rem 2.5rem;
    }
    #creations-head {
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        margin-bottom: 2rem;
    }
    #creations-head h1 {
        font-size: 3rem;
    }
    #creations-head button {
        display: inline-block;
    }
    #creations > button {
        display: none;
    }
    #creations .items > div:nth-child(1){
        background-image: url(images/desktop/image-deep-earth.jpg);
    }
    #creations .items > div:nth-child(2){
        background-image: url(images/desktop/image-night-arcade.jpg);
    }
    #creations .items > div:nth-child(3){
        background-image: url(images/desktop/image-soccer-team.jpg);
    }
    #creations .items > div:nth-child(4){
        background-image: url(images/desktop/image-grid.jpg);
    }
    #creations .items > div:nth-child(5){
        background-image: url(images/desktop/image-from-above.jpg);
    }
    #creations .items > div:nth-child(6){
        background-image: url(images/desktop/image-pocket-borealis.jpg);
    }
    #creations .items > div:nth-child(7){
        background-image: url(images/desktop/image-curiosity.jpg);
    }
    #creations .items > div:nth-child(8){
        background-image: url(images/desktop/image-fisheye.jpg);
    }














    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 4rem 10vw;
    }
    footer ul {
        flex-direction: row;
        justify-content: space-between;
        height: min-content;
        width: 380px;
        margin: 0;
    }
    #footer-icons {
        display: flex;
        justify-content: space-between;
        width: 180px;
        margin: 0 0 2rem 0;
    }
    #footer-icons {
        width: 250px;
    }
    #footer-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    footer p {
        margin-top: 10px;
    }
}
