/* **********VARIABLES********** */
:root {
    --lighter-font: 'Josefin sans', sans-serif;
    --bolder-font: 'Alata', sans-serif;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-grey: hsl(0, 0%, 55%);
    --very-dark-grey: hsl(0, 0%, 41%);
    --default-font-size: var(--default-font-size);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--default-font-size);
    font-family: var(--bolder-font);
}


/* ********* HEADER SECTION ********* */
header {
    min-height: 100vh;
    width: 100vw;
    background-image: url(images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
    padding: calc(1vw + 2.5rem) 10vw;
    position: relative;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
header #logo {
    height: calc(1em + 4vw);
    max-height: 2.4rem;
}
header #ham {
    height: calc(1em + 4vw);
    max-height: 2.5rem;
    padding: .4rem;
}
header ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    height: 20rem;
    width: 88vw;
    max-width: 400px;
    right: 6vw;
    overflow: hidden;
    list-style-type: none;
    background-color: rgb(59, 57, 57);
    align-items: center;
    margin: 2rem 0;
    padding: 2rem 0 2.2rem;
    opacity: 1;
    position: absolute;
}
header li a{
    color: var(--white);
    text-decoration: none;
    border-bottom: solid 2px transparent;
    padding: .3rem 0;
}
#hero-text {
    background-color: #32185749;
    border: solid 2px var(--white);
    padding: 1.5rem 1.5rem;
    margin-top: 22vh;
    color: var(--white);
    font-size: calc(1rem + .5vw);
    line-height: calc(2.5rem + .8vw);
    font-family: var(--lighter-font);
    font-weight: 100;
    max-width: max-content;
    min-width: 20rem;
    overflow: hidden;
}

/* ********* ABOUT SECTION ********* */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0;
}
#about img {
    width: 88vw;
    max-width: 40rem;
    margin-bottom: 3rem;
}
#about-text {
    width: 80vw;
    max-width: 30rem;
    text-align: center;
}
#about-text h1{
    font-family: var(--lighter-font);
    font-size: 2rem;
    font-weight: 100;
    line-height: 2rem;
}
#about-text p {
    line-height: 1.7rem;
    margin-top: 1.2rem;
    color: var(--very-dark-grey);
    font-weight: 500;
}


/* ********* CREATIONS SECTION ********* */
#creations {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#creations-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}
#creations-head button {
    display: none;
}
#creations h1 {
    font-size:  1.8rem;
    font-family: var(--lighter-font);
    font-weight: 100;
    margin-bottom: 0;
}
#creations button {
    width: 50vw;
    max-width: 200px;
    height: 3rem;
    background-color: var(--white);
    border: solid 3px rgba(0, 0, 0, 0.349);
    border-radius: 0;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}
#creations button:hover {
    animation: button .1s linear;
    animation-fill-mode: forwards;
}
#creations .items > div {
    width: 90vw;
    height: 7rem;
    background-size: cover;
    background-position: center;
    margin: 2rem 0;
    font-family: var(--lighter-font);
}
#creations .items div.cover {
    border: solid 1px wheat;
    height: 7rem;
    font-size: 20px;
    color: var(--white);
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.322);
    display: flex;
    align-items: flex-end;
    padding: 1rem 5vw;
}
#creations .items div.cover:hover {
    animation: cover .2s ease-in-out;
    animation-fill-mode: forwards ;
}
#creations .items > div:nth-child(1){
    background-image: url(images/mobile/image-deep-earth.jpg);
}
#creations .items > div:nth-child(2){
    background-image: url(images/mobile/image-night-arcade.jpg);
}
#creations .items > div:nth-child(3){
    background-image: url(images/mobile/image-soccer-team.jpg);
}
#creations .items > div:nth-child(4){
    background-image: url(images/mobile/image-grid.jpg);
}
#creations .items > div:nth-child(5){
    background-image: url(images/mobile/image-from-above.jpg);
}
#creations .items > div:nth-child(6){
    background-image: url(images/mobile/image-pocket-borealis.jpg);
}
#creations .items > div:nth-child(7){
    background-image: url(images/mobile/image-curiosity.jpg);
}
#creations .items > div:nth-child(8){
    background-image: url(images/mobile/image-fisheye.jpg);
}

/******** FOOTER SECTION *******/

footer {
    width: 100vw;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    margin: 4rem 0 0;
}
#footer-left > img {
    margin-bottom: 2rem;
}
#footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;

}
footer ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;
    padding-left: 0;
}
footer li {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer a {
    width: max-content;
    margin-top: 1rem;
    color: var(--white);
    border-bottom: solid 3px transparent;
    padding-bottom: .5rem;
    text-decoration: none;
    font-family: var(--bolder-font);
}
footer a:hover {
    color: var(--white);
}
#footer-icons {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin: 2rem;
}
#footer-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-icons .icons {
    height: 25px;
}
#footer-icons div {
    border-bottom: solid 2px transparent;
    padding: .5rem 0;
}
footer p {
    color: var(--dark-grey);
}

@media (min-width: 1300px){
    header {
        background-image: url(images/desktop/image-hero.jpg);
    }
    
    header #ham {
        display: none;
    }
    header ul {
        background-color: transparent;
        display: flex;
        position: absolute;
        top: calc(1vw - 1.2rem);
        flex-direction: row;
        width: 37vw;
        height: min-content;
        max-width: unset;
        right: 10vw;
        font-size: 1.3rem;
    }
    header a {
        opacity: .9;
        font-weight: 500;
    }

    #hero-text {
        background-color: transparent;
        border: solid 2px var(--white);
        padding: 2rem 3rem;
        margin-top: 20vh;
        color: var(--white);
        font-size: calc(1rem + .6vw);
        line-height: calc(2.2rem + 1.7vw);
        font-family: var(--lighter-font);
        font-weight: 100;
        max-width: 35vw ;
        overflow: hidden;
    }





    #about {
        flex-direction: row;
        justify-content: center;
        height: 37vw;
        position: relative;
        overflow: hidden;
        margin: 10rem 0 5rem;
        padding: 0 10vw;
    }
    #about img{
        align-self: flex-start;
        width: 40vw;
        max-width: unset;
        position: absolute;
        left: 10vw;
        top: 0vw;
    }
    #about-text {
        background-color: var(--white);
        width: 40vw;
        max-width: unset;
        height: unset;
        padding:5vw 0px 0px 6vw;
        align-self: flex-end;
        position: absolute;
        left: 47vw;
        bottom: 5vw;
        z-index: 2;
        text-align: left;
    }
    #about-text h1 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-family: var(--lighter-font);
    }
    #about-text p {
        font-family: var(--bolder-font);
        font-weight: 400;
        font-size: var(--default-font-size);
    }

    #creations .items {
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2vw;        
    }
    #creations .items > div {
        max-width: 18vw;
        height: 35vw;
        margin: 0;
        background-size: cover;
        margin: 1rem 0;
        font-family: var(--lighter-font);
        font-weight: 100;
    }
    #creations .items div.cover {
        border: solid 1px var(--white);
        font-size: calc(1rem + .7vw);
        color: var(--white);
        height: 100%;
        background-color: rgba(0, 0, 0, 0.322);
        padding: 25vw 0 2rem 2rem ;
    }
    #creations-head {
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        margin-bottom: 2rem;
    }
    #creations-head h1 {
        font-size: 2.1rem;
    }
    #creations-head button {
        display: inline-block;
    }
    #creations > button {
        display: none;
    }
    #creations .items > div:nth-child(1){
        background-image: url(images/desktop/image-deep-earth.jpg);
    }
    #creations .items > div:nth-child(2){
        background-image: url(images/desktop/image-night-arcade.jpg);
    }
    #creations .items > div:nth-child(3){
        background-image: url(images/desktop/image-soccer-team.jpg);
    }
    #creations .items > div:nth-child(4){
        background-image: url(images/desktop/image-grid.jpg);
    }
    #creations .items > div:nth-child(5){
        background-image: url(images/desktop/image-from-above.jpg);
    }
    #creations .items > div:nth-child(6){
        background-image: url(images/desktop/image-pocket-borealis.jpg);
    }
    #creations .items > div:nth-child(7){
        background-image: url(images/desktop/image-curiosity.jpg);
    }
    #creations .items > div:nth-child(8){
        background-image: url(images/desktop/image-fisheye.jpg);
    }
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 4rem 10vw;
    }
    footer ul {
        flex-direction: row;
        justify-content: space-between;
        height: min-content;
        width: 380px;
        margin: 0;
    }
    #footer-icons {
        display: flex;
        justify-content: space-between;
        margin: 0 0 2rem 0;
        width: 200px;
    }
    #footer-icons .icons {
        height: 25px;
    }
    #footer-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    footer p {
        margin-top: 10px;
    }
}


/* ******* Animations ********* */
@keyframes cover {
    from {
        background-color: rgba(0, 0, 0, 0.322);
        color: var(--white);
    }   
    to {
        background-color: rgba(255, 255, 255, 0.671);
        color: var(--black);
    }
}
@keyframes button {
    from {
        background-color: var(--white);
        color: var(--black);
    }
    to {
        background-color: var(--black);
        color: var(--white);
    }
}